/* Main */
.body {
    color: #434455;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    }
/* Header */
.list {
    list-style-type: none;
    }
.link {
    text-decoration: none;
    }
 .button {
    cursor: pointer;
    }
.addres {
    font-style: normal;
    }
ul {
    list-style: none;
    }
.ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    }
/* Logo */
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    }
.text-logo {
    color: #2e2f42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    }
.text-logo:hover,
.text-logo:active,
.text-logo:focus {
    color: #404bbf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5;
    }
.menu-item {
    color: #2e2f42;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.menu-links:hover {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32em;
   }
.menu-item-link {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
   }
.contacts-link {
    color:#434455;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    }
.contacts-mail {
    font-weight: 153px;
    line-height: 24px;
    }
.contacts-tel {
    font-weight: 154px;
    line-height: 24px;
    }
/* main content */
.banner {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    }
.button-banner-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    }
/* section 1 */
.page-company {

    }
.page {

    }
.page-item {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    }
.page-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px; 
    }  
.main-team {
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    background: #F4F4FD;
}
.item-team {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    }
.team {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
.team-list {
        background-color: #ffffff;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
.team-name {
        color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
    .team-txt {
        color: #434455;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    /* section 3 (Our Portfolio) */
    .main-portfolio {
        width: 1440px;
        height: 3300px;
        background: #FFF;
    }
    .portfolio-title {
        color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
    .portfolio {

    }
    .portfolio-list {
        width: 360px;
        height: 300px;
        flex-shrink: 0;
    }
    .portfolio-name {
        color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
    .portfolio-txt {
        color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
    /* Footer */












 
    













